@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ERP</h1>
	<a class="navbar-brand" asp-area="" asp-controller="Sys_Accounts" asp-action="Create">註冊新帳號</a><br />
    <p>Enterprise Resource Planning</p>
</div>
