@model MvcERPTest01.Models.Purchase

@{
    ViewData["Title"] = "採購管理";
}

<h1>採購維護</h1>

<h4>新增採購單</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Supplier_ID" class="control-label"></label>
				<select asp-for="Supplier_ID" class="form-select" asp-items="ViewBag.SupplierList">
					<option value="">請選擇</option>
				</select>
                <span asp-validation-for="Supplier_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
				<label asp-for="Warehouse_ID" class="control-label">入庫倉庫</label>
				<select asp-for="Warehouse_ID" class="form-select" asp-items="ViewBag.WarehouseList">
					<option value="">請選擇</option>
				</select>
                <span asp-validation-for="Warehouse_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase_Date" class="control-label"></label>
                <input asp-for="Purchase_Date" class="form-control" />
                <span asp-validation-for="Purchase_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purchase_Status" class="control-label"></label>
				<input class="form-check-input" type="radio" asp-for="Purchase_Status" value="0" />
				<label class="form-check-label">編輯</label>
				<input class="form-check-input" type="radio" asp-for="Purchase_Status" value="2" />
				<label class="form-check-label">送單</label>
				<input class="form-check-input" type="radio" asp-for="Purchase_Status" value="1" />
				<label class="form-check-label">到貨</label>
				<input class="form-check-input" type="radio" asp-for="Purchase_Status" value="3" />
				<label class="form-check-label">廢單</label>
                <span asp-validation-for="Purchase_Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival_Date" class="control-label"></label>
                <input asp-for="Arrival_Date" class="form-control" type="date" />
                <span asp-validation-for="Arrival_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="建立採購單" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
